header{
  margin-left: 30%;

}
body{
  background:url('https://i.pinimg.com/originals/a2/f8/e6/a2f8e6143f3e241448933276a9c1f937.gif');
}
h1{
  margin-bottom: -500px;
  margin-left: 40%;
  color: black;
}
p{
  margin-left: 35%;
  padding-bottom:-700;
  color:purple;
}
